/*Titulos*/

.titulo{
  color: rgb(85, 62, 13);
  font-family: 'Gill Sans MT', Calibri;
  text-shadow: 2px 2px 5px rgb(124, 97, 46);

  font-size: 50px;
  text-align: center;
}

.subtitulo{
  color: rgb(85, 62, 13);
  font-size: 60px;
  font-family: 'Gill Sans MT', Calibri;
  text-align: center;
  margin-top: 100px;
}

/*Parrafos*/

.parrafo{
  background: #F6CA45 ;
  line-height: 2;
  margin-top: 50px;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.parrafo p{
  font-size: 20px;
  font-family: 'Sansita Swashed', cursive;
}

/*Animaciones e imagen*/
body {
  padding: 20px;
  font-family: sans-serif;
  background: #f2f2f2;
}
img {
  width: 100%; 
  height: 500px;

}
h2 {
  margin-bottom: .5em;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 1em;
}


/* estilos hover */
.location-listing {
  position: relative;
}

.location-image {
  line-height: 0;
  overflow: hidden;
  border-radius: 10%;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.location-title {
  border-radius: 10%;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgba(0, 90, 60, 0.4);
  color: rgb(1, 17, 16);
  
  /* posicion del texto */
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-listing:hover .location-title {
  opacity: 1;
}

.location-listing:hover .location-image img {
  filter: blur(2px);
}


/* for touch screen devices */
@media (hover: none) { 
  .location-title {
    opacity: 1;
  }
  .location-image img {
    filter: blur(2px);
  }
}