/*Titulos*/

.titulo{
  color: rgb(85, 62, 13);
  font-family: 'Gill Sans MT', Calibri;
  text-shadow: 2px 2px 5px rgb(124, 97, 46);

  font-size: 50px;
  text-align: center;
}

.subtitulo{
  color: rgb(85, 62, 13);
  font-size: 60px;
  font-family: 'Gill Sans MT', Calibri;
  text-align: center;
  margin-top: 100px;
}

/*Parrafos*/

.parrafo{
  background: rgb(255, 255, 255) ;
  line-height: 2;
  margin-top: 50px;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.parrafo p{
    font-size: 20px;
    font-family: 'Sansita Swashed', cursive;
}

.parrafoimg1{
  border-radius: 10px;
  background: rgb(255, 255, 255) ;
  line-height: 2;
  margin-top: 600px;
  margin-left: -60px;
  width: 100%;
  height: 25%;
  position: relative;
  text-align: center;
}
.parrafoimg1 p{
  font-size: 20px;
  font-family: 'Sansita Swashed', cursive;
}
.parrafoimg2{
  border-radius: 10px;
  background: rgb(255, 255, 255) ;
  line-height: 2;
  margin-top: 600px;
  margin-left: -140px;
  width: 100%;
  height: 25%;
  position: relative;
  text-align: center;
}
.parrafoimg2 p{
  font-size: 20px;
  font-family: 'Sansita Swashed', cursive;
}

.parrafoimg3{
  border-radius: 10px;
  background: rgb(255, 255, 255) ;
  line-height: 2;
  margin-top: 600px;
  margin-left: -180px;
  width: 100%;
  height: 25%;
  position: relative;
  text-align: center;
}
.parrafoimg3 p{
  font-size: 20px;
  font-family: 'Sansita Swashed', cursive;
}

.parrafoimg4{
  border-radius: 10px;
  background: rgb(255, 255, 255) ;
  line-height: 2;
  margin-top: 500px;
  margin-left: -60px;
  width: 100%;
  height: 25%;
  position: relative;
  text-align: center;
}
.parrafoimg4 p{
  font-size: 20px;
  font-family: 'Sansita Swashed', cursive;
}

.parrafoimg5{
  border-radius: 10px;
  background: rgb(255, 255, 255) ;
  line-height: 2;
  margin-top: 500px;
  margin-left: -140px;
  width: 100%;
  height: 25%;
  position: relative;
  text-align: center;
}
.parrafoimg5 p{
  font-size: 20px;
  font-family: 'Sansita Swashed', cursive;
}

.parrafoimg6{
  border-radius: 10px;
  background: rgb(255, 255, 255) ;
  line-height: 2;
  margin-top: 500px;
  margin-left: -180px;
  width: 100%;
  height: 25%;
  position: relative;
  text-align: center;
}
.parrafoimg6 p{
  font-size: 20px;
  font-family: 'Sansita Swashed', cursive;
}

/*Imagenes*/

.img {
    border-radius: 10px;
    width: 150%;
    height: 50%;
    margin-left: 200px;
    margin-top: 147px;
  }

.img2 {
    border-radius: 10px;
    width: 150%;
    height: 50%;
    margin-left: 100px;
    margin-top: 147px;
}

.img3 {
  border-radius: 10px;
  width: 150%;
  height: 50%;
  margin-left: 50px;
  margin-top: 147px;
}
.img4 {
  border-radius: 10px;
  width: 150%;
  height: 50%;
  margin-left: 200px;
  margin-top: 50px;
}

.img5 {
  border-radius: 10px;
  width: 150%;
  height: 50%;
  margin-left: 100px;
  margin-top: 50px;

}

.img6 {
  border-radius: 10px;
  width: 150%;
  height: 50%;
  margin-left: 50px;
  margin-top: 50px;

}
