/*Titulos*/

.titulo{
  color: rgb(0, 0, 0);
  font-family: 'Gill Sans MT', Calibri;
  text-shadow: 2px 2px 5px rgb(4, 255, 242);

  font-size: 50px;
  text-align: center;
  position: relative;
  margin-top: 10%;

}

.subtitulo{
  color: rgb(85, 62, 13);
  font-size: 60px;
  font-family: 'Gill Sans MT', Calibri;
  text-align: center;
  margin-top: 100px;
}

/*Parrafos*/

.parrafo{
  background: #F6CA45 ;
  line-height: 2;
  margin-top: 50px;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.parrafo p{
  font-size: 20px;
  font-family: 'Sansita Swashed', cursive;
}

/*Animaciones e imagen*/
body {
  font-family: sans-serif;
  background: #f2f2f2;
}
img {
  width: 100%; /* need to overwrite inline dimensions */
  height: 500px;
}
h2 {
  margin-bottom: .5em;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 1em;
}


/* Estilo hover */
.location-listing {
  position: relative;
}

.location-image {
  line-height: 0;
  overflow: hidden;
  border-radius: 10%;
  border: #F6CA45 solid;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.location-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgba(246, 202, 69,0.6);
  color: rgb(0, 0, 0);
  border-radius: 10%;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-listing:hover .location-title {
  opacity: 1;
  color: white;
}

.location-listing:hover .location-image img {
  filter: blur(2px);
}


@media (hover: none) { 
  .location-title {
    opacity: 1;
  }
  .location-image img {
    filter: blur(2px);
  }
}

/* pie de pagina */

/*ICONOS*/
.instagram{
  text-align: left;
  margin-left: 15%;
}
.instagram svg{
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);;
  border-radius: 30%;
  color: white;
  

} 

.facebook{
  text-align: left;
  margin-left: 15%;
}
.facebook svg{
  color: rgb(66 103 178);

  
}

.colorletra{
  color:white;
  margin-top: 10%;
}

.tuiter{
  text-align: left;
  margin-left: 15%;
}
.tuiter svg{
  color: rgb(29 161 242);
  
}

.redes{
  color: white;
  font-size: 11px;
  font-family: 'Sora', sans-serif;
  margin-bottom: 10%
}

#piemarg{
  margin-bottom: 10%
}
.contacto{
  color: white;
  font-size: 13px;
  font-family: 'Sora', sans-serif;
  margin-bottom: 10%;
  margin-right: 100%;
  
}

.icon{
  margin-left: 30%;


}
#iconn{
  width: 150px;
  height: 50px;
}

.logo{
  width: 150px;
  height: 150px;
  margin-top: 50px;
  margin-left: 100px;
}

.inicio{
  float: right;
  margin-top: 100px;
  margin-right: 50px;
  color: rgba(246, 202, 69,0.6);
}