
.icon{
    margin-left: 30%;


}
#iconn{
    width: 150px;
    height: 50px;
}

.logo{
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-left: 100px;
  }



/* pie de pagina */

/*ICONOS*/
.instagram{
    text-align: left;
    margin-left: 15%;
}
.instagram svg{
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);;
    border-radius: 30%;
    color: white;
    

} 

.facebook{
    text-align: left;
    margin-left: 15%;
}
.facebook svg{
    color: rgb(66 103 178);

    
}

.colorletra{
    color:white;
    margin-top: 10%;
}

.tuiter{
    text-align: left;
    margin-left: 15%;
}
.tuiter svg{
    color: rgb(29 161 242);
    
}

.redes{
    color: white;
    font-size: 11px;
    font-family: 'Sora', sans-serif;
    margin-bottom: 10%
}

#piemarg{
    margin-bottom: 10%
}
.contacto{
    color: white;
    font-size: 13px;
    font-family: 'Sora', sans-serif;
    margin-bottom: 10%;
    margin-right: 100%;
    
}
.tamanoimg{
    width: 550px;
    height: 600px;
    margin-top: 30px;
    margin-left: 10px;
}

.tabla{
    background-color: #ffffff;
    border: 2px solid black;
    height: 200px;
    width: 400px;
    margin-right: 850px;
    margin-top: 100px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

tr, td{
    padding: 5px;
    border-collapse: collapse;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

th{
    padding: 4px;
    color: white;
    background-color: rgb(4, 80, 80);
    border-collapse: collapse;
}
.titulo{
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans MT', Calibri;
    text-shadow: 2px 2px 5px rgb(4, 255, 242);
  
    font-size: 50px;
    text-align: center;
    position: relative;
    float: right;
    margin-right: 800px;
    margin-top: 100px;
  }
  .volver{
    float: right;
    margin-top: 100px;
    margin-right: 50px;
    color: rgba(246, 202, 69,0.6);
    height: 50px;
    width: 50px;
    
  }