/*RESOLUCION*/
.resolucion{
    width: 99;
}

@media (max-width:500px){
    .escritorio{
        display: none;
    }
    .titmovil{
        text-align: center;
        font-family: 'Merienda', cursive;
        margin-top: 10%;
        font-size: 30px;
        background-color: antiquewhite;
    }



    .integrantesmovil{
        border-radius: 10px;
        
        line-height: 2;
        margin-top: 10%;
        width: 100%;
        height: 60%;
        position: relative;
        text-align: center;
    }
    
    .integrantesmovil p{
        font-size: 20px;
        font-family: 'Arima Madurai', cursive;
        display: table-cell;
        position: absolute;
        top: 0.5%;
        right: 5%;
        left: 5%;
        bottom: 1%;
        vertical-align: middle;
        text-align: center;
    }

}

@media (min-width: 991px){

    .movil{
        display: none;
        
    }
}

/*fondo*/
.fondop{
    background-image: linear-gradient(rgb(173, 216, 230), pink);
}


/*imagenes*/



.icon{
    margin-left: 30%;


}
#iconn{
    width: 150px;
    height: 150px;
}


.imgperro{

    width: 80%;

}

.imggato{

    width:80%;;


}

/*IMAGEN CON ANIMACION*/
/*gato*/
.contenedor{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;

}

.contenedor figure{
    position: relative;
    height: 450px;
    width: 550px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(red, green, blue, alpha);
    cursor: pointer;
}
.contenedor figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-in-out;
}
.contenedor figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(11, 103, 123, 0.6);
    transition: all 500ms ease-in-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.contenedor figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}
.contenedor figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.contenedor figure:hover > img{
    transform: scale(1.3);
}
.contenedor figure .capa h3{
    color:#fff;
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 120px;
    transition: all 500ms ease-in-out;
}
.contenedor figure .capa a{
    color: #fff;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 30px;
    line-height: 1.5;
    width: 100%;
    max-width: 120px;
    margin: auto;
}

/*perro*/
.contenedor2{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
    
}

.contenedor2 figure{
    position: relative;
    height: 450px;
    width: 550px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(red, green, blue, alpha);
    cursor: pointer;
}
.contenedor2 figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-in-out;
}
.contenedor2 figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(11, 103, 123, 0.6);
    transition: all 500ms ease-in-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.contenedor2 figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}
.contenedor2 figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.contenedor2 figure:hover > img{
    transform: scale(1.3);
}
.contenedor2 figure .capa h3{
    color:#fff;
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 120px;
    transition: all 500ms ease-in-out;
}
.contenedor2 figure .capa a{
    color: #fff;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 30px;
    line-height: 1.5;
    width: 100%;
    max-width: 120px;
    margin: auto;
}

/*ANIMACIONES*/


/*PRIMER PARRAFO*/
.parrafo{
    border-radius: 10px;
    
    line-height: 2;
    
    width: 116%;
    height: 200%;
    position: relative;
    text-align: center;
}

.parrafo p{
    font-size: 130%;
    font-family: 'Arima Madurai', cursive;
    display: table-cell;
    position: absolute;
    top: 0.5%;
    right: 5%;
    left: 5%;
    bottom: 1%;
    vertical-align: middle;
}

/*INTEGRANTES*/
.integrantes{
    border-radius: 10px;
    
    line-height: 2;
    margin-left: 30%;
    width: 50%;
    height: 50%;
    position: relative;
    text-align: center;
}

.integrantes p{
    font-size: 150%;
    font-family: 'Arima Madurai', cursive;
    display: table-cell;
    position: absolute;
    vertical-align: middle;
    margin-top: 10%;
}



/*TITULOS*/


.contenedortitulo {
    width: 80%;
    height: 80%;
    overflow: hidden;
    position: relative;
    margin: 10% auto; 
    border-radius: 20px;
    box-shadow: 5px 8px 12px rgb(41, 57, 65);
    
}

.contenedortitulo img{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(11, 61, 107, 0.575), rgba(5, 7, 12, 0.514));
}
.contenedortitulo::before{
    content: " ";
    width: 100%;
    height: 100%;
    background-color: rgb(14, 46, 77);
    position: absolute;
    opacity: 0.5;
}
.contenedortitulo p{
    font-size: 250%;
    color: aliceblue;
    position: absolute;
    top: 50%;
    margin-left: 50% ;
    transform: translate(-50%, -50%);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    cursor: pointer;
    transition: all 1.5s ease-in-out;
    font-family: 'Merienda', cursive;
    letter-spacing: 1px;
 
    
}

.contenedortitulo:hover {
    transform: scale(1.1);
    box-shadow: 13px 15px 37px rgb(41, 57, 65);
}






.contenedortitulo2:hover {
    transform: scale(1.1);
    box-shadow: 13px 15px 37px rgb(41, 57, 65);
}





.link{
    text-align: center;
}


.titulo{
    color: rgb(85, 62, 13);
    font-family: 'Dancing Script', cursive;
    text-shadow: 2px 2px 5px rgb(124, 97, 46);
    background-image: src("img/");
    font-size: 50px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
}

.secciones{
    font-family: 'Sora', sans-serif;
    font-size: 35px;
    text-shadow: 2px 2px 5px rgb(233, 176, 176);
    text-align: center;
    margin-top: 10%;
}
.titintegrantes{
    font-family: 'Sora', sans-serif;
    color: aliceblue;
    font-size: 30px;
    text-shadow: 2px 2px 5px rgb(171, 198, 230);
    text-align: center;
    margin: 1%;
}

/* pie de pagina */

/*ICONOS*/
.instagram{
    text-align: left;
    margin-left: 15%;
}
.instagram svg{
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);;
    border-radius: 30%;
    color: white;
    

} 

.facebook{
    text-align: left;
    margin-left: 15%;
}
.facebook svg{
    color: rgb(66 103 178);

    
}

.colorletra{
    color:white;
    margin-top: 10%;
}

.tuiter{
    text-align: left;
    margin-left: 15%;
}
.tuiter svg{
    color: rgb(29 161 242);
    
}

.redes{
    color: white;
    font-size: 11px;
    font-family: 'Sora', sans-serif;
    margin-bottom: 10%
}

#piemarg{
    margin-bottom: 10%
}
.contacto{
    color: white;
    font-size: 13px;
    font-family: 'Sora', sans-serif;
    margin-bottom: 10%;
    margin-right: 100%;
    
}

.logo{
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 30px;
}




.inicio{
    float: right;
    margin-top: 50px;
    margin-right: 40px;
    margin-bottom: 20px;
    color: rgba(246, 202, 69,0.6);
  }


.titulo2{
    color: rgb(252, 252, 252);
    font-family: 'Merienda', cursive;
    text-shadow: 2px 2px 5px rgb(124, 97, 46);
    background-image: src("img/");
    font-size: 32px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}