/*fondo*/
.fondop{
    background-image: linear-gradient(rgb(173, 216, 230), pink);
}


/*imagenes*/


.pata{
    margin-right: 14%;
}

.icon{
    margin-left: 30%;


}
#iconn{
    width: 150px;
    height: 150px;
}


.imgperro{
    margin-left: 30%;
    width: 100%;

}

.imggato{
    margin-left: 30%;
    width: 100%;;


}

/*IMAGEN CON ANIMACION*/
/*gato*/
.contenedor{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;

}

.contenedor figure{
    position: relative;
    height: 450px;
    width: 550px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(red, green, blue, alpha);
    cursor: pointer;
}
.contenedor figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-in-out;
}
.contenedor figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(11, 103, 123, 0.6);
    transition: all 500ms ease-in-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.contenedor figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}
.contenedor figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.contenedor figure:hover > img{
    transform: scale(1.3);
}
.contenedor figure .capa h3{
    color:#fff;
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 120px;
    transition: all 500ms ease-in-out;
}
.contenedor figure .capa a{
    color: #fff;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 30px;
    line-height: 1.5;
    width: 100%;
    max-width: 120px;
    margin: auto;
}

/*perro*/
.contenedor2{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
    
}

.contenedor2 figure{
    position: relative;
    height: 450px;
    width: 550px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(red, green, blue, alpha);
    cursor: pointer;
}
.contenedor2 figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-in-out;
}
.contenedor2 figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(11, 103, 123, 0.6);
    transition: all 500ms ease-in-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.contenedor2 figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}
.contenedor2 figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.contenedor2 figure:hover > img{
    transform: scale(1.3);
}
.contenedor2 figure .capa h3{
    color:#fff;
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 120px;
    transition: all 500ms ease-in-out;
}
.contenedor2 figure .capa a{
    color: #fff;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 30px;
    line-height: 1.5;
    width: 100%;
    max-width: 120px;
    margin: auto;
}

/*ANIMACIONES*/








/*PRIMER PARRAFO*/
.parrafo{
    border-radius: 10px;
    background: rgb(201, 193, 193) ;
    line-height: 2;
    
    width: 90%;
    height: 100%;
    position: relative;
    text-align: center;
}

.parrafo p{
    font-size: 25px;
    font-family: 'Sansita Swashed', cursive;
    display: table-cell;
    position: absolute;
    top: 0.5%;
    right: 5%;
    left: 5%;
    bottom: 1%;
    vertical-align: middle;
}

/*INTEGRANTES*/
.integrantes{
    border-radius: 10px;
    background: rgb(184, 233, 210) ;
    line-height: 2;
    margin-left: 30%;
    width: 50%;
    height: 50%;
    position: relative;
    text-align: center;
}

.integrantes p{
    font-size: 25px;
    font-family: 'Sansita Swashed', cursive;
    display: table-cell;
    position: absolute;
    top: 0.5%;
    right: 5%;
    left: 5%;
    bottom: 1%;
    vertical-align: middle;
}



/*TITULOS*/

.link{
    text-align: center;
}


.titulo{
    color: rgb(85, 62, 13);
    font-family: 'Dancing Script', cursive;
    text-shadow: 2px 2px 5px rgb(124, 97, 46);

    font-size: 50px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
}

.secciones{
    font-family: 'Sora', sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px 5px rgb(233, 176, 176);
    text-align: center;
}
.titintegrantes{
    font-family: 'Sora', sans-serif;
    color: aliceblue;
    font-size: 40px;
    text-shadow: 2px 2px 5px rgb(171, 198, 230);
    text-align: center;
    margin: 4%;
}

/* pie de pagina */




    